mat-accordion {
    font-size: 14px;
    border-radius: 0;

    mat-expansion-panel {
        border-radius: 0 !important;
        box-shadow: none;

        mat-expansion-panel-header {
            padding: 0 16px;
            
            mat-panel-description {
                margin: 0;
                width: 75%;

                div:first-child {
                    width: 50%;
                    padding-left: 5px;
                    font-variant: small-caps;

                    mat-icon {
                        position: absolute;
                        margin-top: -4px;
                        margin-left: -15%;

                        font-variant: normal;
                    }
                }

                div:nth-child(2) {
                    width: 30%;
                    text-align: right;
                }

                div:last-child {
                    width: 20%;
                    color: rgba(0, 0, 0, .5);
                    font-size: 12px;
                    font-style: italic;
                    text-align: right;
                }
            }

            .historyHeaderSender {
                color: #f44336;
            }
    
            .historyHeaderReceiver {
                color: #40d130;
            }
        }

        .historyDescription {
            color: rgba(0, 0, 0, .5)
        }

        .noCommentDescription {
            font-variant: small-caps;
        }
    }

    mat-expansion-panel:nth-child(2n) {
        background-color: #f8f8f8;
    }
    mat-expansion-panel:nth-child(2n+1) {
        background-color: #e5f6fe;
    }
}