<mat-card *ngIf="currentUser$ | async as currentUser" [formGroup]="transferForm">
    <mat-card-header>
        <mat-card-title background-color="primary"><h2>New transfer<span>E-wallet : {{ currentUser.amount | currency:'EUR' }}</span></h2></mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="activeBuddies$| async as activeBuddies">
        <ng-container *ngIf="currentUser.amount >= 2">
            <mat-grid-list cols="4" rowHeight="76px" gutterSize="16px">
                <mat-grid-tile colspan="2">
                    <mat-form-field color="accent">
                        <mat-label>Beneficiary</mat-label>
                        <input matInput type="text" [formControl]="transferBeneficiaryCtrl" [matAutocomplete]="autoBuddies">
                        <mat-autocomplete #autoBuddies="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let activeBuddy of activeBuddies" [value]="activeBuddy">
                                {{ activeBuddy.firstname }} {{ activeBuddy.lastname }}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error>Please select a buddy to make the transfer to.</mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field color="accent">
                        <mat-label>Send</mat-label>
                        <input matInput currencyMask [formControl]="transferAmountCtrl" [options]="{ allowNegative: false, prefix: '', suffix: ' €', decimal: ',', thousands: ' ' }">
                        <mat-error>{{ getTransferAmountControlErrorText(transferAmountCtrl) }}</mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <ng-container *ngIf="{ value : totalAmount$ | async } as totalAmount">
                    <mat-grid-tile *ngIf="totalAmount.value !== null">
                        <div [ngClass]="totalAmount.value >= 2 && totalAmount.value <= currentUser.amount ? 'totalDiv' : 'totalDivZero'">
                            <span>Total <i>(fee)</i></span>
                            <span *ngIf="totalAmount.value >= 2">{{ totalAmount.value | currency:'EUR' }} <i>({{ totalAmount.value - transferAmountCtrl.value | currency:'EUR' }})</i></span>
                            <span *ngIf="totalAmount.value < 2">{{ 0 | currency:'EUR' }} <i>({{ 0 | currency:'EUR' }})</i></span>
                        </div>
                    </mat-grid-tile>
                </ng-container>
            </mat-grid-list>
            <mat-form-field color="accent">
                <mat-label>Comment <i>(optional)</i></mat-label>
                <textarea matInput [formControl]="transferCommentCtrl" rows="2"></textarea>
            </mat-form-field>
        </ng-container>
        <ng-container *ngIf="currentUser.amount < 2">
            <div class="emptyObservableDiv">You don't have enough money. Please credit your e-wallet.</div>
        </ng-container>
    </mat-card-content>
    <mat-card-actions>
        <a *ngIf="currentUser.amount < 2" mat-flat-button color="accent" routerLink="/home">Credit it</a>
        <button *ngIf="currentUser.amount >= 2" mat-stroked-button color="accent" (click)="onPayMyBuddy()" [disabled]="transferForm.invalid || isLoading">
            <span *ngIf="!isLoading">Pay my buddy</span>
            <mat-spinner *ngIf="isLoading" color="accent" mode="indeterminate"></mat-spinner>
        </button>
    </mat-card-actions>
</mat-card>