#welcomeMessage {
    margin-top: 0px;
    text-align: center;
}

mat-card {
    width: 800px;
}

mat-card-actions {
    padding: 16px 16px 16px 16px !important;
}

.profileInfoDiv {
    width: 100%;
    padding: 19px 16px 17px 16px;
    
    align-self: flex-start;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}