html, body {
    height: 100%;
}

body {
    margin: 0;

    font-family: "Roboto Condensed", "Helvetica Neue", sans-serif;

    background-image: url('./assets/images/payMyBuddyBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: #f4f7fd;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 768px;
}

mat-card-header {
    margin: 3px !important;
    padding: 0 !important;
    
    border-radius: 2px 2px 0 0;
    background-color: #03a9f4;
    
    mat-card-title {
        width: 100%;
        padding: 12px !important;
        color: #fff;

        h1 {
            margin: 0;

            font-weight: normal;
            font-size: 20px !important;
        }
    }    
}

mat-card-content {
    padding: 16px 16px 0 16px !important;

    mat-form-field {
        width: 100%;
    }

    mat-form-field mat-error {
        margin-top: -4px;
        margin-right: -16px;

        font-size: 12px;
        text-align: right;
    }

    h2 {
        margin-top: 24px;

        color: #03a9f4;
        font-variant: small-caps;
        font-weight: normal;
        font-size: 18px !important;
    }
}

mat-card-actions {
    padding: 0px 16px 16px 16px !important;

    button {
        width: 30%;
        margin: 0 auto;
        font-size: 14px;
        text-transform: uppercase;

        mat-spinner {
            width: 20px !important;
        }
    }
}

.groupControlError {
    margin-top: -24px;
    padding-bottom: 5px;

    font-size: 12px;
    text-align: center;
}
