<div class="container">
    <div class="matCardWrapper">
        <mat-card *ngIf="buddies$ | async as buddies" [formGroup]="newBuddyForm">
            <mat-card-header>
                <mat-card-title background-color="primary"><h1>My Buddies</h1></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-nav-list>
                    <a class="buddiesTabRow" *ngFor="let buddy of buddies" mat-list-item>
                        <div><a [routerLink]="[buddy.id]">
                            <p *ngIf="buddy.active">{{ buddy.firstname }} {{ buddy.lastname }}</p>
                            <p class="inactiveBuddy" *ngIf="!buddy.active"><span style="color: #f44336;">*</span> {{ buddy.firstname }} {{ buddy.lastname }}</p>
                        </a></div>
                        <div><a [routerLink]="[buddy.id]">
                            <p *ngIf="buddy.active">{{ buddy.email }}</p>
                            <p class="inactiveBuddy" *ngIf="!buddy.active">{{ buddy.email }}</p>
                        </a></div>
                        <div>
                            <button id="activeButton" mat-stroked-button color="warn" (click)="onUnbuddy(buddy.id)" [disabled]="isLoading">
                                <span *ngIf="!isLoading">Unbuddy</span>
                                <mat-spinner *ngIf="isLoading" color="accent" mode="indeterminate"></mat-spinner>
                            </button>
                        </div>
                    </a>
                </mat-nav-list>
                <div class="emptyObservableDiv" *ngIf="buddies.length == 0">You have no buddy yet.</div>
            </mat-card-content>
            <mat-card-actions>
                <mat-form-field color="accent">
                    <mat-label>New buddy e-mail</mat-label>
                    <input matInput type="text" [formControl]="newBuddyEmailCtrl" placeholder="my.new.buddy@email.com">
                    <button mat-icon-button color="accent" (click)="onAddBuddy()" [disabled]="newBuddyEmailCtrl.invalid"><mat-icon matSuffix>send</mat-icon></button>
                    <mat-error>{{ getNewBuddyEmailControlErrorText(newBuddyEmailCtrl) }}</mat-error>
                </mat-form-field>
            </mat-card-actions>
        </mat-card>
    </div>
</div>